body {
    margin: 0;
    padding: 0;
}

.diagonal-section {
    /* Used to position the diagonal area */
    position: relative;
}

.diagonal-section__diagonal {
    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 100px;

    /* Take full size */
    height: 400px;
    width: 100%;

    /* Create diagonal sides */
    transform: skewY(-4deg);

    /* Background color */
    background-color: #d1dbd1;

    /* Displayed under the main content */
    z-index: -1;
}